* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(24,auto);
    grid-template-columns: repeat(24, 1fr);
    width: 100%;
    min-height: 100%;
}

.header, .footer {
    padding-left: 100px;
    padding-right: 100px;
    grid-column: 1 / 25;
    display: flex;
}

.header {
    grid-row: 1 / 3;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    gap: 1900px;
    background-color: white;
    width: 100%;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 50px;
    color: #3079ff;
    /*
    background: linear-gradient(-30deg, #002ab5, #534edc, #9b69ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.menu {
    color: #959595;
    font-weight: lighter;
}

.main-content {

    margin-top: 120px;
    display: grid;
    grid-column: 1 / 25;
}

.info-tab {
    background-image: url('BG1.png'); /* Replace with your actual image path */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* background-color: #4734ed; */
    grid-row: 3 / 11;
    padding-bottom: 220px;
    padding-top: 220px;
    color: #d1ff73;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    gap: 70px;
}

.info-tab-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    gap: 70px;
}

.info-text {
    display: flex;
    flex-direction: column;
    max-width: 30%; /* Adjust as needed for responsive layout */
}


.info-subtext {
    color: white;
    font-size: 30px;
    font-weight: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.info-sub-subtext {
    max-width: 100%;
    padding-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.info-text em {
    font-style: normal;
    color: white;
}

.pfp {
    width: 500px;
    border-radius: 100%;
    border: 10px solid white;
    position: relative;
}



.projects-tab {
    padding-top: 150px;
    background-color: #292929;
    grid-row: 11 / 17;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-tab h2{
    padding-bottom: 150px;
}

.projects-container {
    grid-row: 11 / 17;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 150px;
}

.project {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 440px;
    margin-bottom: 40px;
    padding: 20px;
    width: 440px;
    height: 620px;
    background-color: #171717;
    border-radius: 5%;

    /* Transition for background-color and box-shadow for smooth animation */
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.project:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8); /* Enhanced shadow for a more noticeable effect */
    background-color: white; /* Smooth background color transition */
}

.project:hover .project-header {
    color: #3079ff;
}

.project:hover .project-desc {
    color: #000000;
}

.thumbnail {
    width: 400px;
    border-radius: 5%;
}

.project-header {
    font-size: 40px;
    color: #d1ff73;
}

.project-desc {
    font-size: 25px;
    font-weight: normal;
}

.message-tab {
    padding-top: 50px;
    padding-bottom:50px;
    background-image: url('BG2.png'); /* Replace with your actual image path */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* background-color: #4734ed; */
    grid-row: 17 / 23;
    text-align: center;
    color: #d1ff73;
}

.message-tab-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    text-align: center;
    margin-top: 50px;
    padding-bottom: 500px;
    padding-top: 500px;
    background-color: white;
    max-width: 80%;
}

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #959595;
    background-color: #292929;
    grid-row: 23 / 25;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        gap: 300px;
    }

    .info-tab {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .info-tab-container {
        flex-direction: column;
        gap: 40px;
    }

    .info-text {
        max-width: 80%; /* Adjust as needed for responsive layout */
        align-items: center;
    }

    .pfp {
        width: 350px;
    }

    .projects-tab {
        padding-top: 50px;
    }

    .projects-tab h2{
        padding-bottom: 50px;
    }

    .projects-container {
        gap: 20px;
        padding-bottom: 20px;
    }
}